<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nucleosystechnologies.ofconline">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.secure.cod.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.SignUpactivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".Activity.Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.SubCategory"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.UserProfile"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.OTPScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activity.OTPConfirmation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activity.AboutUs" />
        <activity android:name=".Activity.ContactUs" />
        <activity android:name=".Activity.Services" />
        <activity
            android:name=".Activity.SellerDashboard"
            android:label="@string/title_activity_seller_dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activity.AdvertiseListing" />
        <activity android:name=".Activity.PackageActivity" />
        <activity android:name=".Activity.PostAdd" />
        <activity android:name=".Activity.PaymentActivity" />
        <activity android:name=".Activity.PaymentSuccsess" />
        <activity android:name=".Activity.SerachCategory" />
        <activity android:name=".Activity.AddSuccess"></activity>
    </application>

</manifest>